# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editors
.idea/
.vscode/
*.swp
*.swo

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Archives
*.7z
*.gz
*.zip
*.tar
*.tgz
*.bz2
*.rar
